interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://web2cit.toolforge.org/translate?format=json&domain=https%3A%2F%2Fmediawiki.org&tests=true
  response:
    body:
      string: '{"info":{"apiVersion":"1.0.0"},"error":{"name":"Invalid domain","message":"Web2Cit
        failed to create the Domain object: \"https://mediawiki.org\" is not a valid
        domain name"}}'
    headers:
      Content-Language:
      - en
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"ae-XuZd8NXBu3G+WzGLIp26birqVaU"
    status:
      code: 400
      message: Bad Request
version: 1
